:root {
    --column-bg-color: rgb(35, 131, 175);
}

body {
    font-family: 'roboto', sans-serif;
    margin: 0;
}

.page {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
}

.dashboard-column {
    background-color: var(--column-bg-color);
    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(10, 0fr);
    padding-left: 20px;
    padding-top: 10px;
    height: 100vh;
}

.dashboard-heading {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

#dashboard-logo {
    font-size: 40px;
    margin-right: 10px;
}

.icon-text {
    color: white;
    font-size: 1.25rem;
}

#dheading-text {
    font-size: 1.5rem;
}

.icon {
    margin-right: 20px;
    font-size: 1.25rem;
}

#communities {
    margin-bottom: 50px;
}

.heading {
    background-color: whitesmoke;
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template: 1fr 2fr / 1fr;
    border-bottom: 2px solid lightgray;
}

#hr1 {
    grid-row: 1 / 2;
    display: grid; 
    grid-template-columns: 1fr 10fr 3fr 1fr 2fr;
    place-items: center center;
    gap: 5px;
}

#search-bar {
    background-color: lightgray;
    height: 50%;
    width: 100%;
    border-radius: 30px;
}

#notification {
    justify-self: end;
}

.profile-small {
    height: 40px;
    width: 40px;
}

.profile-big {
    height: 50px;
    width: 50px;
}

#profile-1 {
    background-color: blue;
    border-radius: 50%;
}

#profile-2 {
    background-color: green;
    border-radius: 50%;
}

#profile-3 {
    background-color: red;
    border-radius: 50%;
}

#profile-4 {
    background-color: pink;
    border-radius: 50%;
}

.name, #intro {
    font-weight: bold;
}

#name, #username {
    justify-self: start;
}

#hr2 {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 7fr repeat(3, 1fr);
    place-items: center center;
    /* gap: 15px; */
}

/* #hr2 #profile-1 {
    justify-self: end;
} */

.heading-button {
    background-color: var(--column-bg-color);
    color: white;
    width: clamp(100px, 60%, 150px);
    height: 30%;
    border: none;
    border-radius: 20px;
}

.content {
    background-color: rgb(225, 232, 239);
    grid-area: 2 / 2 / -1 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    gap: 20px;
}

.content-main {
    display: grid;
    grid-template: .2fr repeat(3, 1fr) / repeat(2, 1fr);
    gap: 10px;
}

.content-side {
    display: grid;
    grid-template-rows: .2fr 1fr .2fr 1fr;
}

.content-header {
    grid-column: 1 / -1;
    margin-top: 10px;
    font-weight: bold;
}

.card {
    background-color: whitesmoke;
    border-left: 5px solid gold;
    border-radius: 10px;
    padding: 25px 15px;
    display: grid;
    
}

.card .card-icons {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    gap: 15px;
}

.card .card-title {
    font-weight: bold;
}

.card .card-text {
    color: rgb(97, 94, 94);
}

.content-side-box {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 25px 15px;
}

.box-content {
    min-height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 0.5fr 2fr);
}

.box-content .box-header {
    font-weight: bold;
}

.box-content .box-text {
    border-bottom: 2px solid rgb(224, 221, 221);
    margin-bottom: 10px;
}

#final-box {
    border: none;
}

.trending-header-container {
    display: flex;
    align-items: end;
    padding-bottom: 10px;
}

#trending-container {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    align-items: center;
}

.profile-links {
    display: flex;
    gap: 10px;
}

.profile-links-text .username {
    font-weight: 500;
}

.profile-links-text .box-text {
    color: rgb(68, 67, 67);
}