:root {
    --column-bg-color: rgb(35, 131, 175);
}

body {
    font-family: 'roboto', sans-serif;
    margin: 0;
}

.page {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
}

.dashboard-column {
    background-color: var(--column-bg-color);
    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(10, 0fr);
    padding-left: 20px;
    padding-top: 10px;
}

.dashboard-heading {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

#dashboard-logo {
    font-size: 40px;
    margin-right: 10px;
}

.icon-text {
    color: white;
    font-size: 1.25rem;
}

#dheading-text {
    font-size: 1.5rem;
}

.icon {
    margin-right: 20px;
    font-size: 1.25rem;
}

#communities {
    margin-bottom: 50px;
}

.heading {
    background-color: whitesmoke;
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template: 1fr 2fr / 1fr;
}

#hr1 {
    grid-row: 1 / 2;
    display: grid; 
    grid-template-columns: 1fr 10fr 3fr 1fr 2fr;
    place-items: center center;
    gap: 5px;
}

#search-bar {
    background-color: lightgray;
    height: 50%;
    width: 100%;
    border-radius: 30px;
}

#notification {
    justify-self: end;
}

.profile-small {
    height: 30px;
    width: 30px;
}

.profile-big {
    height: 50px;
    width: 50px;
}

#profile-1 {
    background-color: blue;
    border-radius: 50%;
}

.name, #intro {
    font-weight: bold;
}

#name, #username {
    justify-self: start;
}

#hr2 {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 7fr repeat(3, 1fr);
    place-items: center center;
    /* gap: 15px; */
}

/* #hr2 #profile-1 {
    justify-self: end;
} */

.heading-button {
    background-color: var(--column-bg-color);
    color: white;
    width: clamp(75px, 50%, 150px);
    height: 30%;
    border: none;
    border-radius: 10px;
}

.content {
    background-color: gray;
    grid-area: 2 / 2 / -1 / -1;
}
